{% extends "base.jinja2" %}
{% block content %}
    <div class="jumbotron">
        <h1>Alerts for Pricing</h1>
        <p>We hang around the internet to find the right price for you</p>
        <p>Just sign up, and watch that money melt away</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('users.register_user') }}" role="button">Get started</a></p>
    </div>
{% endblock %}